.title-table tr:nth-child(1) {
	background-color:#2196f3;
	color:#ffffff;
	border: 1px solid #2196f3;
}

.title-listing td:nth-child(1) {
	background-color:rgba(218, 223, 225, 0.5);
}

.episode-num {
	font-weight:500;
}

.title-listing:hover {
	background-color:#DDDDDD !important;
	color:#000000;
	cursor:pointer;
}
